MY_EMAIL=your-email@example.com
MY_DOMAIN=pnpless.duckdns.org
DUCKDNS_TOKEN=your-duckdns-token

# NEXTCLOUD
DB_PASSWORD=changeme
DB_DATABASE=nextcloud
DB_USER=nextcloud

# PAPERLESS
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=paperless
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=adminpassword